{% extends 'base.html' %}
{% block content %}
    <h1>About the Student Activities Fee</h1>
    <p>The Student Activities Fee is administrated and distributed by the Associated Students of Stanford University (ASSU).
        It is assessed by the University on the bill of every student as the "Student Activities Fee" and is sometimes referred to
        as the "ASSU Fee."</p>
    <p>
        <span style = 'font-weight:bold;'>The ASSU does not utilize any of this funding for its internal operations; it is entirely used to fund and support student groups.</span>
        The Student Activities Fee funds hundreds of student groups, events and initiatives that help make the Stanford experience what it is.
        Students who are facing financial difficulty or have a moral objection to a particular student group may consider requesting a Student Activities Fee waiver.</p>

    <p>Under ASSU policy, all students are entitled to a waiver of any fees that they paid to the ASSU. By University policy,
    students on NCAA full-ride scholarships are not eligible for a waiver of their Student Activities Fee because it is a
    mandatory fee paid by their scholarship.</p>

    <p>Under ASSU policy, groups may request a list of students who have received waivers from their group in order to
    deny access to the group's services to that person. The list of students who receive waivers may not be released
    outside of the group's leadership (listed on OrgSync); if you believe that a group has violated this requirement,
    contact the ASSU Financial Manager or the Office of Community Standards.</p>

    <p>For more information about the Student Activities Fee, please contact the ASSU Financial Manager at <a href="mailto:fm@assu.stanford.edu">fm@assu.stanford.edu</a>.</p>
{% endblock %}