{% extends 'base.html' %}
{% block content %}
    <h1>About the Student Activities Fee</h1>
    <p>The Student Activities Fee is administrated and distributed by the Associated Students of Stanford University (ASSU).
        The ASSU does not utilize any of this funding for its internal operations; it is entirely used to fund and support student groups.
        The Student Activities Fee funds hundreds of student groups, events and initiatives that help make the Stanford experience what it is.
        Students who are facing financial difficulty or have a moral objection to a particular student group may consider requesting a Student Activities Fee waiver.</p>

    <p>For more information about the Student Activities Fee, please contact the ASSU Financial Manager at <a href="mailto:fm@assu.stanford.edu">fm@assu.stanford.edu</a>.</p>
{% endblock %}