{% extends 'base.html' %}
{% block content %}
<div class='color-box' style='width:80%; margin: 0 auto;'>
<h2>Fee waivers closed</h2>
<p>Waivers for the Student Activities Fee assessed by the University on behalf of the Associated Students of Stanford University (ASSU) are available
    each academic quarter when fees are assessed (Fall, Winter, and Spring) between 8:00 AM on the first day of the quarter and 5:00 PM
on the second Friday of the quarter. Credits are issued on your University bill as a "Student Activities Credit" by the seventh week of the quarter.</p>
<p>If you have questions about a waiver you requested, please contact us at <a href = "mailto:waivers@assu.stanford.edu">waivers@assu.stanford.edu</a></p>
<p class="last" style='font-weight:bold;'>Waivers are currently closed. Please check back within the first two weeks of next quarter to apply for a fee waiver.</p>
</div>

{% endblock %}
