{% extends 'base.html' %}
{% block content %}
<h1> Student Activities Fee Waiver Request</h1>
    <p><span class="important">Your Student Activities Fee waiver request for {{ term }} has been received.</span> Please print and save this page for your records.</p>

    <p>You may review or revise your fee waiver request at any time until the deadline.
    The waiver on file at the deadline will be considered final.</p>
    <p>If you have any questions, please contact the ASSU Financial Manager at <a href="mailto:fm@assu.stanford.edu">fm@assu.stanford.edu</a>.</p>
    <p class='italic smaller'>Waiver request submitted by '{{ user.username }}' on {{ date }}</p>
{% endblock %}