{% extends 'base.html' %}
{% block content %}
    <h1>Student Activities Fee Waiver Request</h1>
    <h2>Waiver Requests Open</h2>
    <p>Waiver requests for the ASSU Student Activities Fee for {{ term }} are now open. Eligible members of the ASSU may
    request a waiver from any or all of the fees charged to them this quarter.</p>

    <p><span class='bold'>Please note:</span>
    <ul>
        <li>Only currently enrolled undergraduate, graduate, and law students may request fee waivers.</li>
        <li>Students on NCAA full-ride scholarships may not request fee waivers.</li>
        <li>You may revise your fee waiver request as many times as you'd like until the deadline. The fee waiver request on file at the deadline will be considered final.</li>
        <li>Waiver requests do not roll over to next quarter. You must submit a new fee waiver request every quarter, if desired.</li>
        <li>Waivers will be posted to your University bill as a "Student Activities Credit" by the seventh week of the quarter.</li>
    </ul>
    </p>
    <p>The deadline for fee waiver requests for {{ term }} is <span class="bold">{{ term.refund_closes }}</span>.</p>
    <div class='color-box' style='width:50%; text-align: center;'>
    <p class="last largest"><a href="{% url assu_waivers.views.request %}">Request a Fee Waiver for {{ term }} &raquo;</a></p>
    </div>


{% endblock %}