{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | Fee Waiver admin{% endblock %}

{% block branding %}
<h1 id="site-name">ASSU Fee Waiver Administration</h1>
{% endblock %}

{% block footer %}
    <hr />
<div id="footer">
    <p align="center" style="font-size:80%;">Access to this page on the ASSU Fee Waivers administration panel is permitted
    by authorized users only.<br /><br />
    Information contained herein may be protected by Stanford policy, ASSU bylaw, and California and federal law.<br />
    Disclosure is prohibited without the express consent of the ASSU Financial Manager, or his/her designee.<br />
    </p></div>
{% endblock %}