
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block title %}Student Activities Fee Waiver | ASSU{% endblock %}</title>
    <script type="text/javascript">if ((window.screen.width < 640) || (window.screen.height < 640)){document.write('<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1" />')}</script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.stanford.edu/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="https://www.stanford.edu/stanfordmodern/v2/css/stanfordmodern.css" media="all" />
    <link rel="stylesheet" type="text/css" href="https://www.stanford.edu/stanfordmodern/v2/css/ceebox-min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="https://www.stanford.edu/stanfordmodern/v2/css/mobile.css" media="only screen and (max-width: 640px)" />
    <link rel="stylesheet" type="text/css" href="https://www.stanford.edu/stanfordmodern/v2/css/print.css" media="print" />
    <!--[if IEMobile]>
    <link rel="stylesheet" type="text/css" href="https://www.stanford.edu/stanfordmodern/v2/css/mobile.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="https://www.stanford.edu/stanfordmodern/v2/css/wp7.css" media="screen" />
    <![endif]-->
    <script type="text/javascript" src="https://www.stanford.edu/stanfordmodern/v2/js/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.stanford.edu/stanfordmodern/v2/js/stanfordmodern.js"></script>
    <script type="text/javascript" src="https://www.stanford.edu/stanfordmodern/v2/js/jquery.swfobject.js"></script>
    <script type="text/javascript" src="https://www.stanford.edu/stanfordmodern/v2/js/jquery.ceebox-min.js"></script>

    <!-- Custom -->
    <script type="text/javascript" src="{{ MEDIA_URL }}jquery-ui-1.8.16.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}jquery-stanford/jquery-ui-1.8.13.custom.css" media="all" />
</head>
<!-- Stanford Modern Templates Version 2.11 -->
<body class="sidebar-left wide ie6-2col">
<div id="skipnav"><a href="#content">Skip navigation</a></div>
<!-- Start #layout -->
<div id="layout">
    <!-- Start #wrapper -->
    <div id="wrapper">
        <!-- Start #header -->
        <div id="header">
            <!-- Start #logo -->
            <div id="logo">
                <img src="{{ MEDIA_URL }}banner.gif" alt="Stanford University - ASSU Student Fee Waivers" border="0" usemap="#Map" />
                <map name="Map" id="Map">
                  <area shape="rect" coords="-1,0,263,57" href="http://www.stanford.edu" alt="Stanford University" />
                  <area shape="rect" coords="275,4,700,57" href="http://waivers.stanford.edu" alt="ASSU Student Fee Waivers" />
                </map>

            </div>
            <!-- End #logo -->
        
            {# adding this up top... not really in the normal CSS stylesheet, but hey. #}
            <div class="right-box" style='width:auto;'>
                    {% if user.is_guest %}
                       Not logged in.
                    {% else %}
                        Logged in as {{ user.get_full_name }} ({{ user.username }})
                    {% endif %}
                </div>
        </div>
        <!-- End #header -->

        <!-- Start #container -->
        <div id="container">

            <!-- Start #content -->
            <div id="content">

                <!-- Start #center -->
                <div id="center">
                    {% block content %}
                        No content
                    {% endblock %}
                </div>
                <!-- End #center -->

                <!-- Start #sidebar-left (Removable) -->
                <div id="sidebar-left" class="sidebar">
                    <ul class="nav">
                        <li class="current"><a href="#">Student Activities Fee Waiver</a></li>
                        <li><a href="#">About the Student Activities Fee</a></li>
                        <li><a href="http://assu.stanford.edu">The ASSU</a></li>
                    </ul>
                </div>
                <!-- End #sidebar-left (Removable) -->

                <div class="content_clear"></div>
            </div>
            <!-- End #content -->

            <!-- Start #footer-wrapper -->
            <div id="footer-wrapper">
                <!-- Start #footer -->
                <div id="footer">
                    <ul>
                        <li><a href="http://sse.stanford.edu" title="Stanford Student Enterprises">Stanford Student Enterprises (SSE)</a></li>
                        <li class='last'><a href="http://assu.stanford.edu" title="Associated Students of Stanford University">ASSU</a></li>
                    </ul>
                </div>
                <!-- End #footer -->

                <!-- Start #copyright -->
                <div id="copyright" class="vcard">&copy; The Associated Students of Stanford University. <br /><a href="http://www.stanford.edu/site/terms.html">Terms of Use</a> | <a href="http://www.stanford.edu/site/copyright.html">Copyright Complaints</a></div>
                <!-- End #copyright -->
            </div>
            <!-- End #footer-wrapper -->
        </div>
        <!-- End #container -->
    </div>
    <!-- End #wrapper -->
</div>
<!-- End #layout -->
</body>
</html>
