{% extends 'waivers/admin/report_base.html' %}
{% load currency %}

{% block title %}
Groups waiver report: {{ term }}
{% endblock %}
{% block reportname %}
Group waiver reports
{% endblock %}

{% block content %}
    <h2>Groups waiver report for {{ term }}</h2>
    <p style='font-style:italic;'>Current as of: {{ date }}</p>
    <h3>Totals</h3>
    <table>
    <thead>
    <tr><td>Population</td><td>Total Waived</td><td>Number of Waivers</td></tr>
    </thead>
    <tr><td style="font-weight:bold;">Undergraduate</td><td>{{ aggregate.0|currency }}</td><td>{{ num.0 }}</td></tr>
    <tr><td style="font-weight:bold;">Graduate</td><td>{{ aggregate.1|currency }}</td><td>{{ num.1 }}</td></tr>
    </table>

    <h3>Fee Summaries</h3>
<table>
<thead>
<tr>
    <th>Name</th>
    <th>Reports</th>
    <th>Population</th>
    <th>Fee amount</th>
    <th>Average waiver</th>
    <th>(% of fee)</th>
    <th>Number of waivers</th>
    <th>(% of population)</th>
    <th>Total waiver amount</th>
</tr>
</thead>
<tbody>
{% for fee in groups %}
<tr class="{% cycle 'row1' 'row2' %}">
    <th>{{ fee.fee.name }}</th>
    <td><a href="{% url groupreport_private groupId=fee.fee.pk termName=term.short_name %}">Private</a> /
    <a href="{% url groupreport_public groupId=fee.fee.pk termName=term.short_name %}">Group JBL</a></td>
    <td>{{ fee.fee.get_population_display }}</td>
    <td>{{ fee.fee.max_amount|currency }}</td>
    <td>{{ fee.average|currency }}</td>
    <td>{{ fee.avg_pct|floatformat:1 }}%</td>
    <td>{{ fee.count }}</td>
    <td>{{ fee.pct|floatformat:1 }}%</td>
    <td>{{ fee.total|currency }}</td>
    <td></td>
</tr>
{% endfor %}
</tbody>

</table>
{% endblock %}