{% extends 'waivers/admin/report_base.html' %}
{% load currency %}

{% block title %}
Group waiver report: {{ term }}
{% endblock %}
{% block reportname %}
<a href="{% url assu_waivers.views.admin_bygroupTermReport termName=term.short_name %}">Group waiver reports for {{ term }}</a> &rsaquo;
    Individual group waiver report
{% endblock %}

{% block content %}
    <h2>WAIVER REPORT for {{ fee.name }}, {{ term }}</h2>
    <p style='font-style:italic;'>Current as of: {{ date }} </p>
    <p><span style='font-weight:bold;'>To the group President, Financial Officer, and other key officers:</span>
        this document is prepared, pursuant to the
    ASSU Joint Bylaws, to inform you of the students who have received a fee waiver from your group. You are to use
    this document only to ensure that students who have received a waiver do not participate in your group's services.
    </p>
    <p>This document is private, and you may not share it outside the officers listed on your application in MyGroups.
    Spreading this document beyond these authorized users may be considered a violation of the Fundamental Standard
    or Governing Documents of the ASSU, and the student(s) whose privacy rights are infringed may have standing to file
    a case against you and/or your group in front of the Organizational Conduct Board, Office of Judicial Affairs,
    and/or ASSU Constitutional Council.</p>

    <p><span style="font-weight:bold;">Total amount waived:</span> {{ total_waiver|currency }}</p>
<table>
<thead>
<tr>
    <th>Name</th>
    <th>SUNetID</th>
    <th>SUID #</th>
    <th>Reason for refunding</th>
</tr>
</thead>
<tbody>
{% for waiver in waivers %}
<tr class="{% cycle 'row1' 'row2' %}">
    <th>{{ waiver.student.name }}</th>
    <td>{{ waiver.student.sunetid }}</td>
    <td>{{ waiver.student.suid }}</td>
    <td>{{ waiver.reason }}</td>
    <td></td>
</tr>
{% endfor %}
</tbody>

</table>
{% endblock %}