{% extends 'waivers/admin/report_base.html' %}
{% load currency %}

{% block title %}
Groups waiver report: {{ term }}
{% endblock %}
{% block reportname %}
Group waiver reports
{% endblock %}

{% block content %}
    <h2>Groups waiver report for {{ term }}</h2>
    <p style='font-style:italic;'>Current as of: {{ date }}</p>
    <h3>Totals</h3>
    <table>
    <thead>
    <tr><td>Population</td><td>Total Waived</td><td>Number of Waivers</td><td>(% of population)</td><td>Enrollment</td></tr>
    </thead>
    <tr><td style="font-weight:bold;">Undergraduate</td><td>{{ stats.total_ug|currency }}</td><td>{{ stats.num_waivers_ug }}</td>
        <td>{{ stats.pct_waivers_ug|floatformat:2 }}%</td><td>{{ stats.enrollment_ug }}</td></tr>
    <tr><td style="font-weight:bold;">Graduate</td><td>{{ stats.total_grad|currency }}</td><td>{{ stats.num_waivers_grad }}</td>
        <td>{{ stats.pct_waivers_grad|floatformat:2 }}%</td><td>{{ stats.enrollment_grad }}</td></tr>
    </table>

    <h3>Fee Summaries</h3>
<table>
<thead>
<tr>
    <th>Name</th>
    <th>Population</th>
    <th>Waivers</th>
    <th>(% of pop)</th>
    <th>Total waived</th>
    <th>Avg waiver (%)</th>
    <th>Fee amount</th>
    <th>Reports</th>


</tr>
</thead>
<tbody>
{% for fee in groups %}
<tr class="{% cycle 'row1' 'row2' %}">
    <th>{{ fee.fee.name|truncatechars:60}}</th>
    <td>{{ fee.fee.get_population_display }}</td>
    <td>{{ fee.count }}</td>
    <td>{{ fee.pct|floatformat:2 }}%</td>
    <td>{{ fee.total|currency }}</td>
    <td>{{ fee.average|currency }} ({{ fee.avg_pct|floatformat:0 }}%)</td>
    <td>{{ fee.fee.max_amount|currency }}</td>
    <td><a href="{% url 'groupreport_private' groupId=fee.fee.pk termName=term.short_name %}">Private</a> /
        <a href="{% url 'groupreport_public' groupId=fee.fee.pk termName=term.short_name %}">Group JBL</a> /
        <a href="{% url 'groupreport_excel' groupId=fee.fee.pk termName=term.short_name %}">JBL Excel</a>
</td>

</tr>
{% endfor %}
</tbody>

</table>
{% endblock %}