{% extends 'waivers/admin/report_base.html' %}
{% load currency %}

{% block title %}
Group waiver report: {{ term }}
{% endblock %}
{% block reportname %}
<a href="{% url 'assu_waivers.admin_views.bygroupTermReport' termName=term.short_name %}">Group waiver reports for {{ term }}</a> &rsaquo;
    Individual group waiver report
{% endblock %}

{% block content %}
    <h2>WAIVER REPORT for {{ fee.name }}, {{ term }}</h2>
    <p style='font-style:italic;'>Current as of: {{ date }} </p>

    <p><span style="font-weight:bold;">Fee amount:</span> {{ fee.max_amount|currency }}</p>
    <p><span style="font-weight:bold;">Total amount waived:</span> {{ total_waiver|currency }}</p>
<table>
<thead>
<tr>
    <th>Name</th>
    <th>SUNetID</th>
    <th>SUID #</th>
    <th>Amount</th>
    <th width="20%">Last Updated</th>
    <th>Reason(s)</th>
</tr>
</thead>
<tbody>
{% for waiver in waivers %}
<tr class="{% cycle 'row1' 'row2' %}">
    <th>{{ waiver.student.name }}</th>
    <td>{{ waiver.student.sunetid }}</td>
    <td>{{ waiver.student.suid }}</td>
    <td>{{ waiver.amount|currency }}</td>
    <td>{{ waiver.updated }}</td>
    <td>{{ waiver.reason }}</td>
    <td></td>
</tr>
{% endfor %}
</tbody>

</table>
{% endblock %}