{% extends 'waivers/admin/report_base.html' %}

{% block title %}
Student enrollment upload
{% endblock %}
{% block reportname %}
    Student enrollment upload
{% endblock %}

{% block content %}
    <h2>Student Enrollment Upload</h2>

    <p><span class='bold'>Upload enrollment data for {{ term }}.</span></p>

    <form method = 'POST' action='{% url assu_waivers.views.admin_importStudentCsv termName=term.short_name %}' enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <p>
        <span style='font-weight:bold;'>THIS ACTION CANNOT BE UNDONE. Please be sure you are uploading the correct file!</span><br />
        <input type='submit' value='Upload student enrollment data' /></p>
    </form>
{% endblock %}